*{
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic;
	
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 30px;

}
nav{
	flex: 1;
	text-align: right;	
}

nav ul{
	display: inline-block;
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: darkred ;
	transition: background 0.7s;
}
nav ul li a:hover{
     background: darkred;
     color:white;

}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.coll-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.coll-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: darkred;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background:lightpink;

}
.header{
	background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
	margin-top: 50px;
}
.categories{
	margin: 50px;
}
.col-3{
	flex-basis: 10%;
	min-width: 250px;
	margin-bottom: 20px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}